/* Navbar wrapper */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

/* Pill navbar */
.navbar-pill {
  background: linear-gradient(
    150deg,
    #1e5fd8,
    #3586ff,
    #4fa3ff
  );
  box-shadow: 0 8px 20px rgba(53, 134, 255, 0.35);
  border-radius: 10px;
  padding: 20px 80px;     /* increased height */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;             /* increased width */
  /* box-shadow: 0 18px 30px rgba(53, 134, 255, 0.35); */
}

/* Logo */
.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
}

/* Links container (right side) */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 0;
  margin: 0;
  padding: 0;
}

/* Buttons */
.navbar-links li a {
  text-decoration: none;
  color: #f4ebeb;
  padding: 14px 34px;     /* bigger buttons */
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  /* background: rgba(255, 255, 255, 0.18); */
  transition: all 0.3s ease;
}

/* Hover */
.navbar-links li a:hover {
  background: #ffffff;
  color: #3586ff;
  transform: translateY(-2px);
}

/* Active button */
/* .navbar-links li a.active {
  background: #ffffff;
  color: #3586ff;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
} */
